<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Agro Innova</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/mdi/font/css/materialdesignicons.min.css' %}"/>
<!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>
<style>

</style>
  <body>
    <div class="main-panel" style="width: 100%; margin: 0; padding: 0;">
      <div class="content-wrapper">
        <div class="row mb-4">
          <div class="col-md-12 text-center">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="card">
                <div class="card-title">
                    <h3 class="card-title">{{user.first_name}}, su ingreso fue realizado con exito</h4>
                </div>
                <div class="card-body">
                    <p>Por favor, verifique su casilla de correo para confirmar su registro</p>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    {% block plugin_js %}
    {% endblock %}
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    {% block custom_js %}
    {% endblock %}
    <!-- End custom js for this page-->
  </body>
</html>
