<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
   <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>    
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
              </div>
              <div class="menssageErr"> 
              {% if messages %}

              {% for message in messages %}
        
              <h4>{{message}}</h4>
              
              {% endfor %}
              {% endif %} 
              </div>
              <h4>{% translate "Hello! let's get started" %}</h4>
              <h6 class="font-weight-light">{% translate "Sign in to continue." %}</h6>
              <form method='post'>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group">
                  <label>{% translate "Username or email *" %}</label>
                  {{form.email}}
                  {{form.email.errors}}
                </div>
                <div class="form-group">
                  <label>Password *</label>
                  {{form.password}}
                  {{form.password.errors}}
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> {% translate "Remember me" %} </label>
                  </div>
                  <a href='{% url "password_reset" %}' class="forgot-pass">{% translate "Forgot password" %}</a>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">{% translate "Login" %}</button>
                </div>
                <p class="sign-up mt-3">{% translate "Don't have an Account?" %}<a href="/signup">{% translate "Sign Up" %}</a></p>
              </form>  
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>

</body>
</html>
