{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block plugin_css%}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/mdi/font/css/materialdesignicons.min.css' %}">
{% endblock %}                          
{% block content %} 

{% if messages %}
<div id="contenedor-mensajes" class="alert-messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="card-title mb-0">{% translate 'Profesionales' %}</h4>
        <a class="btn btn-primary" data-toggle="modal" data-target="#formModal">
          <i class="icon-head menu-icon mr-2"></i>{% translate 'Agregar' %}
        </a>
      </div>
      <p class="card-description">
        {{ empresa.nombre }}
      </p>
      <div class="table-responsive table-hover">
        <table id='id_tabla' class="table table-striped">
          <thead>
            <tr>
              <th>{% translate 'Nombre' %}</th>
              <th>{% translate 'Apellido' %}</th>
              <th>{% translate 'Especialidad' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for profesional in profesionales %}
            <tr>
                <td>
                    <a href="/profesionales/{{ profesional.id }}">{{ profesional.nombre }}</a>
                </td>
                <td>{{ profesional.apellido }}</td>
                <td>{{ profesional.especialidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="{% if not modificacion %}true{% endif %}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">{% translate 'Agregar Profesional' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Cerrar' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ formset.management_form }}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Nombre' %}</label>
                    <div class="col-sm-9">
                      {{ form.nombre }}
                      {{ form.nombre.errors }}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Apellido' %}</label>
                    <div class="col-sm-9">
                      {{ form.apellido }}
                      {{ form.apellido.errors }}
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Especialidad' %}</label>
                    <div class="col-sm-9">
                      {{ form.especialidad }}
                      {{ form.especialidad.errors }}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Dirección' %}</label>
                    <div class="col-sm-9">
                      {{ form.direccion }}
                      {{ form.direccion.errors }}
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Teléfono' %}</label>
                    <div class="col-sm-9">
                      {{ form.telefono }}
                      {{ form.telefono.errors }}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Móvil' %}</label>
                    <div class="col-sm-9">
                      {{ form.movil }}
                      {{ form.movil.errors }}
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Email' %}</label>
                    <div class="col-sm-9">
                      {{ form.email }}
                      {{ form.email.errors }}
                    </div>
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'CUIT' %}</label>
                    <div class="col-sm-9">
                      {{ form.cuit }}
                      {{ form.cuit.errors }}
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Número Matrícula' %}</label>
                    <div class="col-sm-9">
                      {{ form.numero_matricula }}
                      {{ form.numero_matricula.errors }}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{% translate 'Obras Sociales' %}</label>
                    <div class="col-sm-9">
                      {{ form.obras_sociales }}
                      {{ form.obras_sociales.errors }}
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-6">
                  {% if modificacion %}
                    <button type="submit" name="btn_modif" class="btn btn-primary mr-2">{% translate 'Actualizar' %}</button>

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Eliminar</button>
                  {% else %}
                    <button type="submit" name="btn_alta" class="btn btn-primary mr-2">{% translate 'Crear' %}</button>
                  {% endif %}
                  <button type="button" class="btn btn-dark" data-dismiss="modal">{% translate 'Cancelar' %}</button>
                </div>
              </div>









              <div class="card mt-1">
                <div class="card-body">
                    <h4 class="card-title">{% translate "Horario de atencion" %}</h4> 
                    <div class="table-responsive">
                        <div class="row mt-3">
                            <div class="col-md-12 text-left">
                                <button type="button" id="add_form" class="btn btn-primary btn-rounded btn-icon"><i class="mdi mdi-plus mdi-24px"></i></button>                            
                                <button type="button" id="subs_form" class="btn btn-secondary btn-rounded btn-icon"><i class="mdi mdi-minus mdi-24px"></i></button>
                            </div>                        
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>                                
                                    <th>{% translate "Dia" %}</th>
                                    <th>{% translate "Hora Inicio" %}</th>
                                    <th>{% translate "Hora Fin" %}</th>
                                    <th>{% translate "Duracion" %}</th>
                                </tr>
                            </thead>
                            <tbody id="formset" class="mt-3 mb-3">
                                {% for hp in formset %}
                                <tr>
                                    <td>{{ hp.dow }}{{ hp.dow.errors }}</td>
                                    <td>{{ hp.hora_inicio }}{{ hp.hora_inicio.errors }}</td>
                                    <td>{{ hp.hora_fin }}{{ hp.hora_fin.errors }}</td>
                                    <td>{{ hp.duracion }}{{ hp.duracion.errors }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                      
                </div>
            </div>       
    









              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">{% translate 'Confirmar Eliminación' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% translate '¿Estás seguro de que deseas eliminar este profesional? Esta acción no se puede deshacer.' %}
      
          <input type="hidden" name="id" id="deleteProfId" value="">
          <input type="hidden" name="btn_baja" value="1">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Cancelar' %}</button>
          <button type="submit" class="btn btn-danger">{% translate 'Eliminar' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block nav %}
{% include 'nav_home.html' %}
{% endblock %}

{% block plugin_js %}
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>

{% endblock %}
{% block custom_js %}
<script>

  let formset = $('#formset');
  let addButton = $('#add_form');
  let subsButton = $('#subs_form');
  let totalForms = $('#id_horarioprofesional_set-TOTAL_FORMS');

  addButton.click(function() {
    let formCount = formset.children().length;
    let newForm = formset.children().first().clone();
    var columnaServicio, columnaCantidad;
    newForm.find(':input').each(function() {
      let name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
      let id = 'id_' + name;
      $(this).attr({'name': name, 'id': id}).val('').removeAttr('value');
    });
    formCount++;
    totalForms.val(formCount);
    formset.append(newForm);
  });
  subsButton.click(function() {
    let formset = $('#formset');
    let totalForms = $('#id_horarioprofesional_set-TOTAL_FORMS');
    let formCount = formset.children().length;
    if (formCount > 1) {
      item = formset.children().eq(formCount-1);
      item.remove();
      formCount--;
      totalForms.val(formCount); 
  }
  });



  document.addEventListener('DOMContentLoaded', function() {
    {% if modificacion %}
      var modal = new bootstrap.Modal(document.getElementById('formModal'), {
        backdrop: 'static',
        keyboard: false
      });
      modal.show();
    {% endif %}
    id_search_top_bar.placeholder = 'Busqueda de clientes';
    id_search_top_bar.addEventListener('input', function () {
        load_profesionales(id_search_top_bar.value);
    });

  });


  function load_profesionales(valor) {
    $.ajax({
        url: '{% url "ajax_obtener_profesionales" %}', // Asegúrate de que esta URL esté bien generada
        type: 'GET',
        dataType: 'json',
        data: {
            'valor': valor
        },
        success: function(data) {
            if (data.status === '0') {
                var tbody = $('#id_tabla tbody');
                tbody.empty();
                data.data.forEach(function(registro) {

                  var row = '<tr>' +
                              '<td>' + '<a href="/profesionales/' + registro.id + '">' + registro.nombre + '</a>' + '</td>' +
                              '<td>' + registro.apellido + '</td>' +
                              '<td>' + registro.especialidad_nombre + '</td>' +
                              '</tr>';
                    tbody.append(row);
                });
            } else {
                // Muestra un mensaje de alerta si ocurre un error
                alert('Error al buscar profesionales.');
            }
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
            // Muestra un mensaje de alerta si ocurre un error
            alert('Error al obtener los datos');
        }
    });
}

</script>
{% endblock %}
