<!DOCTYPE html>
{%load static%}
{% load i18n %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>
<style>
  .auth form .form-group label {
    font-size: 18px !important;
    margin-bottom: .1rem !important;
}
button{
  font-size: 20px !important;
}
.sign-up{
  margin-top: 1rem !important;
  font-size: 1rem !important;
}
</style>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-3 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
              </div>
              <h4>{% translate "New here?" %}</h4>
              <h6 class="font-weight-light">{% translate "Signing up is easy. It only takes a few steps" %}</h6>
              <form method='post'>
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                    <label for="{{field.id_for_label}}" class="col-sm-6 col-form-label">{{field.label_tag}}</label>
                    {{field}}
                    {{field.errors}}
                  </div>
                {% endfor %}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">{% translate "Login" %}</button>
                </div>
                <p class="sign-up text-center">{% translate "Already have an Account?" %}<a class="ms-3" href="/">{% translate "Sign In" %}</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
</body>
</html>

